<!doctype html>
<html>
  <head>
    <script src="//unpkg.com/angular@latest/angular.js"></script>
    <script src="//unpkg.com/angular-ui-router@1.0.0-beta.2/release/angular-ui-router.js"></script>
    <script src="//unpkg.com/oclazyload"></script>

    <script src="viswords.js"></script>
    <!--  Hello Galaxy Code -->
    <script src="hello.js"></script>
    <script src="services/people.js"></script>
    <script src="components/hello.js"></script>
    <script src="components/about.js"></script>
    <script src="components/people.js"></script>
    <script src="components/person.js"></script>

    
    <!-- Visualizer and url -->
    <link rel="stylesheet" href="styles.css">
    <script src="//unpkg.com/show-current-browser-url"></script>
    <script src="../bundles/visualizer.min.js"></script>
  </head>
  
  <body ng-app="hello" ng-class="{'debug-sref': debug.uisref, 'debug-view': debug.uiview}">
    <div>
      <button onClick="document.location.reload(true)">reload plunker</button>
      <button ng-click="debug.uiview = !debug.uiview">{{ debug.uiview ? "disable" : "enable"}} ui-view debug</button>
      <button ng-click="debug.uisref = !debug.uisref">{{ debug.uisref ? "disable" : "enable"}} ui-sref debug</button>
    </div>
    <div class="nav">
      <a ui-sref="hello" ui-sref-active="active">Hello</a>
      <a ui-sref="about" ui-sref-active="active">About</a>
      <a ui-sref="people" ui-sref-active="active">People</a>
    </div>

    <button ng-click="addstate()">Add state</button>
    <ui-view></ui-view>

  </body>
</html>
