/*
    .transitionHistory is the breadcrumbs and transition details block.
    It fills the footer of the screen, and scrolls horizontally.
    Mouse clicks should pass through to the elements underneath.
*/

.transitionHistory {
    display: flex;
    align-items: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 1em;
    overflow-x: scroll;
    z-index: 2;
    /* disable mouse clicks, hover, etc, for the overall div */
    pointer-events: none;
}

.transitionHistory * {
    /* Enable mouse for any sub-elements (the breadcrumb elemetns and detail elements) */
    pointer-events: all;
    flex: 0 0 auto;
}

/*  workaround for modal screen, and chrome and safari not allowing it to be
    visible outside the .transitionHistory overflow while the .transitionHistory div is scrolled */
.fullScreen .transitionHistory {
    top: 0;
}

/* A single history entry (breadcrumb) arrow looking thing */
.transitionHistory .historyEntry {
    position: relative;
    text-align: center;
    padding: 12px 30px;
    margin-bottom: 6px;
    margin-right: 6px;
    color: #000;
    cursor: pointer;
}


/* History entry arrow CSS */
.transitionHistory .historyEntry:before,.historyEntry:after {
    content: '';
    position: absolute;
    background: darkgrey;
    left: 0;
    height: 50%;
    width: 100%;
    border: 1px solid black;
    z-index: -1;
}

.transitionHistory .historyEntry:before {
    top: 0;
    border-bottom: 0;
    -webkit-transform: skew(40deg, 0deg);
    -ms-transform: skew(40deg, 0deg);
    transform: skew(40deg, 0deg);
}

.transitionHistory .historyEntry:after {
    bottom: 0;
    border-top: 0;
    -webkit-transform: skew(-40deg, 0deg);
    -ms-transform: skew(-40deg, 0deg);
    transform: skew(-40deg, 0deg);
}

/*.historyEntry::before height: 51% (|| ::after) */

/* Styling for breadcrumb contents */
.historyEntry .summary {
    color: white;
    white-space: nowrap;
    font-size: small;
}

.historyEntry .summary .transid {
    position: absolute;
    top: 0.1em;
    left: 0.85em;
    font-size: smaller;
}

.historyEntry .summary .status {
    position: absolute;
    bottom: 0.1em;
    left: 0.85em;
    font-size: smaller;
}
.historyEntry .summary .transname {
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center
}

/* breadcrumb/history entry color coding */
.transitionHistory .historyEntry:before,.historyEntry:after {
    background: #737373;
}
.transitionHistory .historyEntry:hover:before,.historyEntry:hover:after {
    background: #a6a6a6;
}

.transitionHistory .historyEntry.success:before,.historyEntry.success:after {
    background: #45803b;
}
.transitionHistory .historyEntry.success:hover:before,.historyEntry.success:hover:after {
    background: #19a600;
}


.transitionHistory .historyEntry.error:before,.historyEntry.error:after {
    background: #bf1f1d;
}
.transitionHistory .historyEntry.error:hover:before,.historyEntry.error:hover:after {
    background: #e62622;
}


.transitionHistory .historyEntry.ignored:before,.historyEntry.ignored:after {
    background: #e68b05;
}
.transitionHistory .historyEntry.ignored:hover:before,.historyEntry.ignored:hover:after {
    background: #ff9808;
}

.transitionHistory .historyEntry.redirected:before,.historyEntry.redirected:after {
    background: #e68b05;
}
.transitionHistory .historyEntry.redirected:hover:before,.historyEntry.redirected:hover:after {
    background: #ff9808;
}

.transitionHistory .keyvalue {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}







/* The transition detail popover (when hovering over a breadcrumb) */
.transitionDetail {
    border: 1px solid lightgrey;
    font-size: small;
    transition: box-shadow 0.5s ease,  border 1.0s ease
}

/* Pointer element points from the transitionDetail to the breadcrumb */
.transitionDetail .downArrow {
    position: relative;
    width: 100%;
    bottom: -10px;
    margin-bottom: 10px;
}

.transitionDetail .downArrow:before, .transitionDetail .downArrow:after {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -10px;
}

.transitionDetail .downArrow:before {
    border-top: 10px solid lightgray;
}

.transitionDetail .downArrow:after{
    border-top: 10px solid white;
    margin-top: -1px;
    z-index: 1;
}


/* The layout and styling of the transition detail popover */
.transitionDetail .panel-heading {
    text-align: center;
}

.transitionDetail table {
    border-collapse: collapse;
}

.transitionDetail th {
    text-align: center;
    font-size: small;
}

.transitionDetail .uir-header {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.transitionDetail .uir-header > *  {
    flex: 0 1 auto;
}

.transitionDetail .uir-header > * i {
    transition: all 0.5s ease;
}

.transitionDetail table.paths {
    min-width: 25em;
}

.transitionDetail table.paths td {
    color: white;
    border: 0;
    font-size: small;
    min-width: 10em;
}

.transitionDetail .summary .keyvalue {
    justify-content: flex-start !important;
    align-items: baseline;
}

.transitionDetail .summary .keyvalue > div:nth-child(2){
    padding-left: 0.5em;
    font-weight: normal;
}


.transitionDetail table.summary {
    max-width: 400px;
}

.transitionDetail table.summary td {
    font-size: small;
    vertical-align: top;
}

.transitionDetail table.summary td:nth-child(1) {
    white-space: nowrap;
}

.transitionDetail table.summary td:nth-child(2) {
    font-weight: bold;
    padding-left: 1em;
}


.transitionDetail td {
    padding: 0;
}

.transitionDetail td .flowArrowCell {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    width: 1em;
    transition: width 0.25s ease;
    height: auto;
}
.transitionDetail.expand td .flowArrowCell { width: 2em; }

.transitionDetail .exit  .flowArrowSvg          { right: 0; }
.transitionDetail .enter .flowArrowSvg          { left: 0; }
.transitionDetail        .flowArrowSvg.bottom   { bottom: 0 }
.transitionDetail        .flowArrowSvg.top      { top: 0 }
.transitionDetail        .flowArrowSvg {
    position: absolute;
    width: 100%;
    height: auto;
    transition: width 0.25s ease;
}

/* color code path elements by retained/exited/entered */
.transitionDetail .retain {
    background-color: #737273;
}

.transitionDetail .exit {
    background-color: #7c1010;
}

.transitionDetail .enter {
    background-color: #31592a;
}

.transitionDetail .deemphasize {
    color: #eaeaea;
    font-size: x-small;
}

/* Styling for parameter values and resolve values */
.transitionDetail .params {
    background-color: rgba(255,255,255,0.15);
    padding: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease;
    max-height: 0;
    max-width: 150px;
}

.transitionDetail.expand .params {
    display: block;
    border-radius: 4px;
    box-shadow: 1px 1px 2px black;
    padding: 0.5em;
    max-height: 250px;
    max-width: 300px;
    overflow-y: auto;
    opacity: 1;
    margin: 0.5em 0;
}

.transitionDetail.pin {
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
    border: 1px solid black;
}

.transitionDetail.pin .downArrow:before {
    border-top-color: black;
}


/* When showing expanded details, put space between path elements */
.transitionDetail.expand table.paths td {
    max-height: 100px;
    vertical-align: top;
}

.transitionDetail .uirTransVisRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.transitionDetail .uirTransVisRow > div {
    flex: 1 0 50%;
}

.transitionDetail .uirNodeContent {
    display: flex;
    flex-flow: row nowrap;
    min-height: 1em;
    transition: min-height 0.25s ease;
}

.transitionDetail.expand .uirNodeContent {
    min-height: 5em;
}

.transitionDetail .uirNodeDetail {
    flex: 1 0 auto;
    padding: 0.2em 0.5em;
}

.transitionDetail .statename {
    font-weight: bolder;
    margin-right: 1em;
    margin-left: 0;
}
.transitionDetail .enter .statename {
    margin-right: 0;
    margin-left: 1em;
}

.transitionDetail .nowrap {
    white-space: nowrap;
}

.transitionHistory .paramid {
    font-weight: bolder;
    color: #eaeaea;
    margin-right: 0.5em;
}

.transitionHistory .paramslabel {
    color: white;
    margin-top: -0.5em;
    text-align: center;
    font-weight: bold;
}

.transitionHistory .resolvelabel {
    color: white;
    margin-top: -0.5em;
    text-align: center;
    font-weight: bold;
}

.transitionHistory .paramvalue {
    color: #e6e6e6;
}



span.link {
    cursor: pointer;
    text-decoration: underline;
}


.tooltip-right {
    display: inline;
    position: relative;
    transition: all 1.5s ease;
}

.tooltip-right:after {
    color: rgba(0,0,0,0);
    text-decoration: none;
    transition: all 1.5s ease;
}

.tooltip-right:hover:after {
    bottom: 0;
    color: rgba(0,0,0,0.5);
    content: attr(title);
    display: block;
    position: absolute;
    white-space: nowrap;
    font-size: smaller;
}



/* Bootstrap stuff */

.uir-modal .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.uir-modal .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.uir-modal .btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.transitionDetail span.link {
    color: white;
}

.transitionHistory *:not(.fa):not(pre) {
    font-family: Arial, Helvetica, sans-serif;
}

.transitionDetail .enter .uir-header {
    flex-flow: row nowrap;
}
.transitionDetail .uir-header {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.transitionDetail .retain .uir-header {
    justify-content: center;
}

.uir-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.uir-panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;

    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.uir-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.uir-panel-body {
    padding: 15px;
}





/* Styles go here */
.uir-fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.uir-fade.in {
    opacity: 1;
}

.uir-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.uir-modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.uir-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}


.uir-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.uir-modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.uir-modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.uir-resolve-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: cornflowerblue;
}

.uir-modal-body {
    color: black;
    position: relative;
    padding: 15px;
}

.uir-modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.uir-icon {
    display: inline-block;
    height: 1em; width: 1em;
    margin: 0.25em;
    background-size: cover;
    background-position: 0 0;
}

.uir-spin {
    animation: uirspin 2s infinite;
    transform: rotate(0deg);
}

.uir-rotate-35 {
    transform: rotate(35deg);
    opacity: 0.5;
}

@keyframes uirspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.uir-iconw-spinner       { background-image: url("../../images/w/16/spinner.png"); }
.uir-iconw-check         { background-image: url("../../images/w/16/check.png"); }
.uir-iconw-circle-o      { background-image: url("../../images/w/16/circle-o.png"); }
.uir-iconw-share         { background-image: url("../../images/w/16/share.png"); }
.uir-iconw-close         { background-image: url("../../images/w/16/close.png"); }

.uir-icon-thumb-tack     { background-image: url("../../images/16/thumb-tack.png"); }
.uir-icon-toggle-on      { background-image: url("../../images/16/toggle-on.png"); }
.uir-icon-toggle-off     { background-image: url("../../images/16/toggle-off.png"); }
